<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache.xsd
	">



    <!--<import resource="mybatis.xml" />-->
    <!--<import resource="spring-redis.xml" />-->

    <!--尝试加入rabbitMQ-->
    <!--<import resource="spring-rabbitMQ.xml" />-->

    <!-- dubbo -->
    <import resource="dubbo-consumer.xml" />

    <!--扫描Service-->
    <context:component-scan base-package="*.service" />



    <!--导入配置文件-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:upload.properties</value>
            </list>
        </property>
    </bean>




    <!-- 配置Jedis -->
    <bean id="jedis" class="redis.clients.jedis.Jedis">
        <constructor-arg name="host" value="114.215.159.226" />
        <constructor-arg name="port" value="6379" />
    </bean>



</beans>